<nav class="w-screen border-b-2">
  <div class="mx-auto max-w-7xl px-2">
    <div class="relative flex h-12 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button hlmBtn (click)="toggle()">
          <hlm-icon size="sm" name="lucideMenu" />
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            @for (item of items(); track $index) {
            <a
              [routerLink]="[item.route]"
              routerLinkActive="bg-gray-900 text-white"
              class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white"
              >{{ item.label }}
            </a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  @if(open()){
  <div class="sm:hidden absolute bg-white w-screen" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default:  hover:bg-gray-700 hover:text-white" -->
      @for (item of items(); track $index) {
      <a
        [routerLink]="item.route"
        routerLinkActive="bg-gray-900 text-white"
        class="block rounded-md px-3 py-2 text-base font-medium"
        >{{ item.label }}
      </a>
      }
    </div>
  </div>
  }
</nav>
