<div class="h-screen bg-slate-100">
  <div class="mx-auto sm:max-w-2xl">
    <div class="flex justify-between items-center flex-row p-4">
      <span class="text-xl">Partidas disponibles</span>
      <button hlmBtn (click)="create()">Crear</button>
    </div>
    <div class="space-y-6">
      @for (match of matches(); track $index) {
      <div class="max-w-md mx-auto bg-white rounded-xl shadow-md md:max-w-2xl">
        <div class="p-6">
          <div class="flex items-center space-x-4">
            <div class="flex-1 flex-col">
              <div>
                {{ match.player1.name }}
              </div>
              <div>
                {{ match.player2.name }}
              </div>
            </div>
            <div class="inline-flex items-center space-x-2">
              <div>
                <button
                  hlmTooltipTrigger
                  hlmBtn
                  s
                  size="icon"
                  routerLink="/game/control"
                >
                  <hlm-icon size="sm" name="lucideSettings2" />
                </button>
              </div>
              <div>
                <button
                  hlmBtn
                  size="icon"
                  (click)="startGame(match, '/game/play')"
                >
                  <hlm-icon size="sm" name="lucidePlay" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      } @empty {
      <p class="text-center">SIN ELEMENTOS</p>
      }
    </div>
  </div>
</div>
