<div class="flex flex-col h-screen">
  <!-- Barra Superior -->
  <div class="flex justify-between items-center px-4 py-2 bg-gray-100">
    <!-- Jugador 1 -->
    <div class="flex items-center space-x-3">
      <img
        src="/assets/player1.png"
        alt="Jugador 1"
        class="w-10 h-10 rounded-full"
      />
      <div>
        <p class="text-lg font-semibold">{{ match().player1.name }}</p>
        <p class="text-2xl text-gray-600">
          Puntaje: {{ match().player1.score }}
        </p>
      </div>
    </div>

    <!-- Contador en el centro -->
    <div class="text-center">
      <p class="text-2xl font-bold">2</p>
    </div>

    <!-- Jugador 2 -->
    <div class="flex items-center space-x-3">
      <div class="text-right">
        <p class="text-lg font-semibold">{{ match().player2.name }}</p>
        <p class="text-2xl text-gray-600">
          Puntaje: {{ match().player2.score }}
        </p>
      </div>
      <img
        src="/assets/player2.png"
        alt="Jugador 2"
        class="w-10 h-10 rounded-full"
      />
    </div>
  </div>

  <!-- Contenedor Principal -->
  <div class="flex h-full">
    <!-- Contenido de la pregunta y opciones aquí -->
    <!-- Lado Izquierdo -->
    <div
      class="flex items-center justify-center p-4"
      [ngClass]="isOptionsDisplayed() ? 'w-1/2' : 'w-full'"
    >
      <div>
        <!-- <img
          src="ruta-a-la-imagen"
          alt="Imagen de la Pregunta"
          class="mt-4 mx-auto max-w-full h-auto"
          *ngIf="pregunta.imagen"
        /> -->
        <p class="mt-4 text-4xl text-center">
          {{ match().currentQuestion?.text }}
        </p>
      </div>
    </div>
    @if(isOptionsDisplayed()){

    <!-- Lado Derecho -->
    <div
      class="w-1/2 flex items-center justify-center p-4 animate__animated animate__fadeInRight animate__faster"
    >
      <div class="flex flex-col gap-4">
        <div
          *ngFor="let opcion of match().currentQuestion?.options"
          class="border p-4 flex flex-col items-center justify-center"
        >
          
        <p class="text-xl text-center">
          {{ opcion.text }}
        </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
