<div class="flex flex-col h-screen relative">
  <!-- Barra Superior -->
  <div class="flex justify-between items-center px-4 py-2 absolute w-full">
    <!-- Jugador 1 -->
    <div class="flex items-center space-x-6">
      <img
        src="/assets/player1.png"
        alt="Jugador 1"
        class="w-10 h-10 rounded-full"
      />
      <div>
        <p class="text-3xl font-semibold">{{ match().player1.name }}</p>
        <p class="text-4xl text-gray-600">
          Puntaje: {{ match().player1.score }}
        </p>
      </div>
    </div>

    <!-- Contador en el centro -->
    <div class="text-center">
      <p class="text-6xl font-bold">
        {{ timeLeft() }}
      </p>
    </div>

    <!-- Jugador 2 -->
    <div class="flex items-center space-x-6">
      <div class="text-right">
        <p class="text-3xl font-semibold">{{ match().player2.name }}</p>
        <p class="text-4xl text-gray-600">
          Puntaje: {{ match().player2.score }}
        </p>
      </div>
      <img
        src="/assets/player2.png"
        alt="Jugador 2"
        class="w-10 h-10 rounded-full"
      />
    </div>
  </div>

  <!-- Contenedor Principal -->
  <div class="flex h-full">
    <!-- Contenido de la pregunta y opciones aquí -->
    <!-- Lado Izquierdo -->
    <div class="flex flex-col items-center justify-center p-4 w-1/2">
      <div class="mt-4 text-4xl text-center px-4">
        {{ match().currentQuestion?.text }}
      </div>
      @if (match().currentQuestion?.imageUrl) {
      <div>
        <img
          [src]="match().currentQuestion?.imageUrl"
          alt="Imagen de la Pregunta"
          class="mt-4 w-[350px]"
        />
      </div>
      }
    </div>
    @if(match().status === 'selected'){

    <!-- Lado Derecho -->
    <div
      class="w-1/2 flex items-center justify-center p-4 animate__animated animate__fadeInRight animate__faster"
    >
      <div class="flex flex-col gap-4 w-11/12">
        <div
          *ngFor="
            let opcion of match().currentQuestion?.options;
            let index = index
          "
          class="border p-4 flex flex-col rounded-xl items-center border-2 justify-center"
          [ngClass]="{
            'bg-green-600 text-white':
              opcion.isCorrect && selectedIndex() !== null
          }"
          [ngClass]="{
            'bg-green-600 text-white': opcion.isCorrect && selectedIndex() === index,
            'bg-red-600 text-white': !opcion.isCorrect && selectedIndex() === index,
          }"
        >
          @if(opcion.imageUrl){
          <div class="mb-4">
            <img [src]="opcion.imageUrl" class="w-[350px] max-h-[80px]" alt="Option image" />
          </div>
          }
          <p class="text-2xl text-center">
            <span class="font-bold mr-2">{{ index | clause }})</span>
            {{ opcion.text }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
