<div class="h-screen flex flex-col justify-center items-center">
  <div class="sm:max-w-xl w-full space-y-2">
    <div class="flex justify-between items-center p-3">
      <p class="text-xl">Encuentros pendientes</p>
      <button hlmBtn size="icon" (click)="create()">
        <hlm-icon size="sm" name="lucidePlus" />
      </button>
    </div>
    <div
      class="border-2 rounded w-full p-4 space-y-4 overflow-y-scroll max-h-72"
    >
      @for (match of matches(); track $index) {
      <div class="flex items-center justify-between shadow-md p-2 rounded">
        <div class="text-lg font-semibold">
          {{ match.player1.name }} vs {{ match.player2.name }}
        </div>
        <div class="flex space-x-2">
          <button hlmBtn size="icon" variant="outline">
            <hlm-icon size="sm" name="lucideSettings2" />
          </button>
          <button hlmBtn size="icon" variant="outline">
            <hlm-icon size="sm" name="lucidePlay" />
          </button>
        </div>
      </div>
      } @empty {
      <span>SIN ELEMENTOS</span>
      }
    </div>
  </div>
</div>
